<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo App</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="app-title">My To Do List</div>

    <form class="new-task" action="/add" method="post">
        <div class="new-task-box">
            <div><label for="title" class="enter-new-todo-title"> Enter New ToDo Title</label></div>
            <div class="new-title-section">
                <input class="title-input" type="text" name="title" placeholder="Enter Todo...">
                <button class="add-btn" type="submit">Add</button>
            </div>
        </div>
    </form>

    {% for todo in todo_list %}
        {% if todo.complete == False %}
            <div class="individual-task">
                <div class="individual-task-header">
                    <p class="individual-task-title"> {{ todo.title }}</p>
                    <span class="not-complete-status">Not Complete</span>
                </div>

            <a class="update-btn" href="/update/{{ todo.id }}">Update Status</a>
            <a class="edit-btn" href="{{ url_for('edit', todo_id=todo.id) }}">Edit</a>
            <a class="delete-btn" href="/delete/{{ todo.id }}">Delete</a>
            </div>
        {% endif %}
    {% endfor %}

    {% for todo in todo_list %}
        {% if todo.complete == True %}
            <div class="individual-task">
                <div class="individual-task-header">
                    <p class="individual-task-title task-complete"> {{ todo.title }}</p>
                    <span class="complete-status">Complete</span>
                </div>

            <a class="update-btn" href="/update/{{ todo.id }}">Update Status</a>
            <a class="edit-btn" href="{{ url_for('edit', todo_id=todo.id) }}">Edit</a>
            <a class="delete-btn" href="/delete/{{ todo.id }}">Delete</a>
            </div>
        {% endif %}
    {% endfor %}

</body>
</html>