<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo App</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="container">

    <h2 class="edit-todo-title">Edit ToDo Item Title</h2>

    <form class="new-task-box" method="post">
        <div class="field">
            <label for="title" class="individual-task-title">New title</label>
            <div><input class="edited-title-input" type="text" name="title" value="{{ todo.title }}"></div>
            <button class="save-btn" type="submit">Save</button>
        </div>
    </form>
    </div>
</body>
</html>
